.forecast-weather-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.5em 6.5em;
}

.forecast-weather-title {
    text-decoration: underline;
}

.weather-forecast-list {
    height: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    list-style: none;
}