.search-container {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.search-title {
    font-size: 3rem;
    font-weight: 900;
    color: #57A0EE;
}

.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.location-btn {
    color: #57A0EE;
    background-color: white;
    border: none;
    cursor: pointer;
    padding-top: 0.5em;
}

input {
    font-size: 0.925rem;
    padding: 0.5em 1em;
}

input:focus {
    outline: none;
}

.search-btn {
    background-color: #57A0EE;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 0.5em 1em;
}