.search-container {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 0.25em;
}

a {
    height: 30px;
    width: 75px;
    border-radius: 15px;
    background-color: #57A0EE;
    color: white;
    text-decoration: none;
}